build/data/raw/
build/data/processed/
build/saved_models/
build/experiments/logs/
web/model/
venv/
env/
.venv/
/env/
/venv/
pycache/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
Thumbs.db
web/static/uploads/
web/instance/